<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>
        <div class="container">
            <section id="about">
                <h2>About Me</h2>
                <p>Hi, I'm Taylor, I specialize in designing, optimizing, and implementing complex, high-performance systems. I also served as a Product Owner, leading software development and technical enablement for the past 5 years. I developed a strong technical enablement and data skill set, allowing me to work effectively across engineering, data science, and AI domains. Passionate about solving complex engineering problems, finding efficiencies, integrating cutting-edge technologies, and driving collaborative, high-impact solutions.</p>
            </section>
            
            <section id="projects">
                <h2>Projects</h2>
                <ul>
                    <li><strong>"Automating Training Feedback Process" A Systems Engineering Approach:</strong> Automated training feedback collection by building an AWS-hosted survey app with a Python ETL pipeline, integrating results into Tableau for real-time insights, reducing manual effort by 50%.</li>
                    <li><strong>"A System Designer for Space Debris Removal":</strong> Designer of a software-based decision-making tool will be needed to aid engineers in designing a system to reduce space debris, resulting in a decrease of satellite loss and hazards for manned flight missions</li>
                    <li><strong>"The Soil Moisture and Ocean Salinity (SMOS) Satellite" Systems Engineering Case Study:</strong> This case study highlights how the team leveraged systems engineering to produce an efficient yet effective satellite system to achieve mission objectives. This paper examines the mission’s history, development, performance, requirements, risks, and lessons learned; and how the system continues to exceed its mission objectives, over 10 years later.</li>
                </ul>
            </section>
        </div>
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
